--
-- PostgreSQL database dump
--

\restrict nn8raAa91cxkQBcM0IbnOU8VC7sJcM0hqC8fkRZhHW6yh7mYuZzVdEBcGGhfEps

-- Dumped from database version 17.11 (Debian 17.11-1.pgdg13+2)
-- Dumped by pg_dump version 17.11 (Debian 17.11-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: idm
--

CREATE TABLE public.accounts (
    id integer NOT NULL,
    login_account character varying(255) NOT NULL,
    account_type character varying(20) NOT NULL,
    display_name character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    system_id integer NOT NULL,
    CONSTRAINT accounts_account_type_check CHECK (((account_type)::text = ANY ((ARRAY['Regular'::character varying, 'Service'::character varying, 'Privileged'::character varying])::text[])))
);


ALTER TABLE public.accounts OWNER TO idm;

--
-- Name: accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: idm
--

ALTER TABLE public.accounts ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.accounts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_roles; Type: TABLE; Schema: public; Owner: idm
--

CREATE TABLE public.accounts_roles (
    accounts_id integer NOT NULL,
    roles_id integer NOT NULL,
    granted_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.accounts_roles OWNER TO idm;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: idm
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name_role character varying(255) NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    system_id integer NOT NULL
);


ALTER TABLE public.roles OWNER TO idm;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: idm
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: systems; Type: TABLE; Schema: public; Owner: idm
--

CREATE TABLE public.systems (
    id integer NOT NULL,
    name_system character varying(255) NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    system_type character varying(20) NOT NULL,
    CONSTRAINT systems_system_type_check CHECK (((system_type)::text = ANY ((ARRAY['Postgres'::character varying, 'Service'::character varying, 'Linux'::character varying, 'CRM'::character varying, 'Other'::character varying])::text[])))
);


ALTER TABLE public.systems OWNER TO idm;

--
-- Name: systems_id_seq; Type: SEQUENCE; Schema: public; Owner: idm
--

ALTER TABLE public.systems ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.systems_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: idm
--

COPY public.accounts (id, login_account, account_type, display_name, created_at, updated_at, is_active, system_id) FROM stdin;
3	qatest	Regular	QA Test	2026-09-21 08:36:00.190615+00	2026-09-21 08:36:00.190615+00	t	1
5	qatest	Regular	QA Test	2026-09-21 08:39:10.552964+00	2026-09-21 08:39:10.552964+00	t	3
\.


--
-- Data for Name: accounts_roles; Type: TABLE DATA; Schema: public; Owner: idm
--

COPY public.accounts_roles (accounts_id, roles_id, granted_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: idm
--

COPY public.roles (id, name_role, description, created_at, system_id) FROM stdin;
\.


--
-- Data for Name: systems; Type: TABLE DATA; Schema: public; Owner: idm
--

COPY public.systems (id, name_system, description, created_at, updated_at, is_active, system_type) FROM stdin;
1	Production PostgreSQL	\N	2026-09-21 08:14:06.272794+00	2026-09-21 08:14:06.272794+00	t	Postgres
3	Check Auth	\N	2026-09-21 08:38:19.085015+00	2026-09-21 08:38:19.085015+00	t	Service
\.


--
-- Name: accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: idm
--

SELECT pg_catalog.setval('public.accounts_id_seq', 5, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: idm
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, true);


--
-- Name: systems_id_seq; Type: SEQUENCE SET; Schema: public; Owner: idm
--

SELECT pg_catalog.setval('public.systems_id_seq', 3, true);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: idm
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: accounts_roles accounts_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: idm
--

ALTER TABLE ONLY public.accounts_roles
    ADD CONSTRAINT accounts_roles_pkey PRIMARY KEY (accounts_id, roles_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: idm
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: systems systems_pkey; Type: CONSTRAINT; Schema: public; Owner: idm
--

ALTER TABLE ONLY public.systems
    ADD CONSTRAINT systems_pkey PRIMARY KEY (id);


--
-- Name: accounts uq_accounts_system_login; Type: CONSTRAINT; Schema: public; Owner: idm
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT uq_accounts_system_login UNIQUE (system_id, login_account);


--
-- Name: roles uq_roles_system_name; Type: CONSTRAINT; Schema: public; Owner: idm
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT uq_roles_system_name UNIQUE (system_id, name_role);


--
-- Name: accounts_roles accounts_roles_accounts_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: idm
--

ALTER TABLE ONLY public.accounts_roles
    ADD CONSTRAINT accounts_roles_accounts_id_fkey FOREIGN KEY (accounts_id) REFERENCES public.accounts(id) ON DELETE CASCADE;


--
-- Name: accounts_roles accounts_roles_roles_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: idm
--

ALTER TABLE ONLY public.accounts_roles
    ADD CONSTRAINT accounts_roles_roles_id_fkey FOREIGN KEY (roles_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: accounts accounts_system_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: idm
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_system_id_fkey FOREIGN KEY (system_id) REFERENCES public.systems(id) ON DELETE RESTRICT;


--
-- Name: roles roles_system_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: idm
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_system_id_fkey FOREIGN KEY (system_id) REFERENCES public.systems(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict nn8raAa91cxkQBcM0IbnOU8VC7sJcM0hqC8fkRZhHW6yh7mYuZzVdEBcGGhfEps

